<div class="card">
  <div class="card-content users-card-content">
    <span class="card-title">Users</span>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
