<nav class="blue-grey">
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to "Easter Olaive" , admin_root_path %>
      <ul class="right">
        <li><%= link_to "Edit rules", admin_rules_path %></li>
        <li><%= link_to "App", root_path %></li>
      </ul>
    </div>
  </div>
</nav>
