<h1>Hi <%= current_user.name %></h1>
<p class="xl">Welcome to Olivier's wedding Easter Egg hunt</p>
<p>Your challenge, shall you accept it, is to find as many as you can of the Easter eggs below.</p>
<hr>
<table>
  <% @eggs.each do |egg| %>
    <tr>
      <td><%= egg.input %></td>
    </tr>
  <% end %>
</table>
