<% label = "File" if local_assigns[:label].nil? %>
<div class="file-field input-field">
  <div class="btn grey">
    <span><%= label %></span>
    <%= f.input_field key %>
  </div>
  <div class="file-path-wrapper">
    <input class="file-path validate" type="text">
  </div>
</div>
