.users-card-content {
  min-height: 280px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

textarea.large {
  min-height: 400px;
}

.answer-actions {
  min-width: 120px;
}

.datetime select {
  display: inline;
  width: auto;
}
.egg_difficulty select {
  display: inline;
}
