/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.xs {
  font-size: 0.75rem;
}
.sm {
  font-size: 0.875rem;
}
.base {
  font-size: 1rem;
}
.lg {
  font-size: 1.125rem;
}
.xl {
  font-size: 1.25rem;
}
.xl2 {
  font-size: 1.5rem;
}
.xl3 {
  font-size: 1.875rem;
}
.xl4 {
  font-size: 2.25rem;
}
.xl5 {
  font-size: 3rem;
}
.xl6 {
  font-size: 4rem;
}

.btn.btn-xs {
  line-height: 25px;
  height: 25px;
}

.btn.btn-xs i {
  font-size: 14px;
  line-height: inherit;
}

.hidden {
  display: none;
}

.mt-2 {
  margin-top: 2em;
}

.mw-full {
  max-width: 100%;
}
