<nav data-controller="navbar">
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to "Egg Hunt", root_path, class: "brand-logo" %>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <%= render "layouts/navbar_links" %>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-nav">
  <%= render "layouts/navbar_links" %>
</ul>
