<!DOCTYPE html>
<html>
  <head>
    <title>Easter Egg Admin</title>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "admin/header" %>
    <%= render "shared/flash" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
