<!DOCTYPE html>
<html>
  <head>
    <title>Olivier's Easter Egg Contest</title>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "layouts/header" if current_user %>
    <%= render "shared/flash" %>
    <div class="app container">
      <%= yield %>
    </div>
  </body>
</html>
